.container {
  max-width: 1024px;
  height: 800px;
  outline: 1px solid black;
  margin: auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.blogContainer {
  /* height: 160px; */
  overflow: hidden;
  padding: 5px;
}

.title{
 text-align: center;
}