.container {
  max-width: 1024px;
  outline: 1px solid black;
  margin: auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.blogContainer {
  height: 240px;
  overflow: hidden;
}