.container {
  max-width: 640px;
  /* height: 800px; */

  margin: auto;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.blogContainer {
  /* height: 160px; */
  overflow: hidden;
  padding: 5px;
}

.title{
 text-align: center;
}

.noContent{
  width: 100%;
  height: 100%;
}